.preview-col {
  position: relative;
  .project-preview {
    margin: -15px -15px -15px 15px;
    // background-color: $previewTabActiveBgColor;
    position:absolute;
    right:0px;
    bottom:0px;
    top:0px;
    left:0px;
    padding:15px;

    .enabled{
      padding-top: 10px;
    }
    .collection-item{
      &.preview{
        background-image: url(/images/blueprint-7.png);
          background-position: 16px 36px;
        // background-color: #eee;
        margin-top: -10px;
        margin-left: -42px;
        margin-right: -42px;
      }
    }
    .device-previews{
      .device{

        margin-top: 50px;
        text-align: center;
      }
    }
  }
}
