$navColor: color('blue-grey', 'darken-4');
$breadcrumbSepColor: color('grey', 'darken-3');
$breadcrumbItemColor: color('grey', 'darken-4');
$breadcrumbActiveColor: color('grey', 'lighten-3');
$brandIconColor: color('cyan', 'lighten-3');
$brandColor: color('cyan', 'lighten-5');
