$navColor: color('cyan', 'base');
$breadcrumbSepColor: color('grey', 'lighten-1');
$breadcrumbItemColor: color('cyan', 'base');
$breadcrumbActiveColor: color('grey', 'darken-1');
$brandIconColor: color('grey', 'darken-4');
$brandColor: color('cyan', 'lighten-5');
$bodyColor: #fcfcfc;
$primaryBtnColor: color('grey', 'darken-2');
